# OS & IDE Files
.DS_Store
.history
.idea/
.vscode/
*.swp
*.log

# Flutter/Dart Tooling
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android Builds & Configurations
/android/local.properties
/android/key.properties
/android/app/debug/
/android/app/profile/
/android/app/release/
*.apk
*.aar
*.ap_

# iOS & macOS Builds
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/.symlinks/
/macos/Flutter/Generated.xcconfig
/macos/Flutter/flutter_export_environment.sh
/macos/Pods/
/macos/.symlinks/
*.xcworkspace
xcuserdata/
Podfile.lock

# Windows & Linux Tooling
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/

# Obfuscation & Symbols
app.*.symbols
app.*.map.json

# Secrets & Private Credentials
**/google-services.json
**/GoogleService-Info.plist
**/firebase_options.dart
firebase.json
firebase.json.bak